@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@400;600;700&family=Open+Sans:wght@400;500;700&family=Roboto:ital,wght@0,300;1,300;1,700&display=swap');

html, 
body,
#root,
.app{
  height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
  background-color: #1f2026;
}